<script>
	// 定义一个日历 变量
	var oCal = null;
	
	$(function() {
		alert(1);
		initCalendar();
		loadMainAdvertisingResourceAction();
		loadDiscountResourceAction();
		loadLatestInfoResourceAction();
		loadRoughlyResourceListAction(1,1);
		loadVenueRecommendListAction();
		loadHotSellListAction();
		loadResourceByTime();
		loadRencentHotResourceListAction();
	});

	/**
	 * 初始化日历插件
	 */
	function initCalendar() {
		/* demo --> var root = 'http://fgm.cc/learn/calendar/trip-calendar/';*/
		YUI({
			modules: {
				'trip-calendar': {
					fullpath: 'static/plugins/javascript/trip-calendar.js',
					type: 'js',
					requires: ['trip-calendar-css']
				},
				'trip-calendar-css': {
					fullpath: 'static/plugins/styles/trip-calendar.css',
					type: 'css'
				}
			}
		}).use('trip-calendar', function(Y) {

			/**
			 * 非弹出式日历实例
			 * 直接将日历插入到页面指定容器内
			 */
			oCal = new Y.TripCalendar({
				container: '#J_Calendar', //非弹出式日历时指定的容器（必选）
				selectedDate: new Date, //指定日历选择的日期
				count: 1
			});
			//日期点击事件
			//            oCal.on('dateclick', function() {
			//                var selectedDate = this.get('selectedDate');
			//                alert(selectedDate + '\u3010' + this.getDateInfo(selectedDate) + '\u3011');
			//            })

		})
	}

	/**
	 * 回到顶部
	 */
	function pageScroll() {
		//把内容滚动指定的像素数（第一个参数是向右滚动的像素数，第二个参数是向下滚动的像素数）
		window.scrollBy(0, -100);
		//延时递归调用，模拟滚动向上效果
		scrolldelay = setTimeout('pageScroll()', 10);
		var sTop = document.documentElement.scrollTop + document.body.scrollTop;
		//判断当页面到达顶部，取消延时代码（否则页面滚动到顶部会无法再向下正常浏览页面）
		if(sTop == 0) clearTimeout(scrolldelay);
	}

</script>

<!--todo 主广告区-->
<div id="ad-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<div class="carousel slide" id="advs">
				</div>
			</div>

			<div class="col-xs-12 col-md-3">

				<div id="ad-container-right">
				</div>

			</div>
		</div>
	</div>
</div>
<!--todo 回到顶部-->
<div id="back_top">
	<a onclick="pageScroll()"><img src="static/images/top.png"></a>
</div>

<!--todo 最新更新区-->
<div id="show-new-container">
	<div class="container">
		<h3>近期热门</h3>
		<div class="row">
			<div class="col-md-9">
				<div class="row hot" id="hotsort">
				</div>
			</div>
			<div class="col-md-3 hotbar" id="latestInfoAndThematic">
			</div>
		</div>
	</div>
</div>

<!--todo 热销榜单和推荐-->
<div class="container" id="adv_isNotTop">
	
</div>

<div id="venue-recommend-container">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-xs-12 navbar" id="resourceSecNavBar">
						
					</div>
					
					<div class="col-xs-12">
						<div id="cate-item-list-container" class="row"></div>
						<div id="venue-item-list-container" class="row"></div>
					</div>
					
				</div>
			</div>
			<div class="col-md-3" id="right">
				<div class="row">
					<ul class="up col-xs-12">
						<li>
							<h4 class="data-title">
                            <span>历历在目</span>
                            <span>-尽享每天不一样的精彩</span>
                        </h4>
						</li>
						<li class="data">
							<div id="J_Calendar" class="calendar"></div>
						</li>
						<li class="data-total" id="totalCounts">
							<p>今天共<span>98场</span>演出</p>
						</li>
						
					</ul>

				</div>
				<ul class="down row" id="hotSell">
					
				</ul>

			</div>
		</div>
	</div>

</div>