<!--todo 主广告区-->
<div id="ad-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<div class="carousel slide" id="advs">
				</div>
			</div>

			<div class="col-xs-12 col-md-3">

				<div id="ad-container-right">
				</div>

			</div>
		</div>
	</div>
</div>
<!--todo 回到顶部-->
<div id="back_top">
	<a onclick="pageScroll()"><img src="static/images/top.png"></a>
</div>

<!--todo 最新更新区-->
<div id="show-new-container">
	<div class="container">
		<h3>近期热门</h3>
		<div class="row">
			<div class="col-md-9">
				<div class="row hot" id="hotsort">
				</div>
			</div>
			<div class="col-md-3 hotbar" id="latestInfoAndThematic">
			</div>
		</div>
	</div>
</div>

<!--todo 热销榜单和推荐-->
<div class="container" id="adv_isNotTop">
	
</div>

<div id="venue-recommend-container">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-xs-12 navbar" id="resourceSecNavBar">
						
					</div>
					
					<div class="col-xs-12">
						<div id="cate-item-list-container" class="row"></div>
						<div id="venue-item-list-container" class="row"></div>
					</div>
					
				</div>
			</div>
			<div class="col-md-3" id="right">
				<div class="row">
					<ul class="up col-xs-12">
						<li>
							<h4 class="data-title">
                            <span>历历在目</span>
                            <span>-尽享每天不一样的精彩</span>
                        </h4>
						</li>
						<li class="data">
							<div id="J_Calendar" class="calendar"></div>
						</li>
						<li class="data-total" id="totalCounts">
							<p>今天共<span>98场</span>演出</p>
						</li>
						
					</ul>

				</div>
				<ul class="down row" id="hotSell">
					
				</ul>

			</div>
		</div>
	</div>

</div>