<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>weipiao</title>
	
	<link href="static/styles/concert.css" rel="stylesheet">
	
	<script type="text/javascript">
		$(function(){
			alert(2);
			loadSearchNav()
		});
	</script>
</head>

<body>
	<div id="container_ct">
		<div id="left_ct">
			<div class="type_box">
				<div class="tl_item city clearfix">
					<h3>演出城市</h3>
					<ul class="i1 clearfix ul-1 cityullist" id="cityList">
					</ul>
				</div>
				<div class="t2_item type clearfix">
					<h3>项目类别</h3>
					<ul class="i1 clearfix ul-1">
						<li class="type-1 " value="" data-he="list_all_main">全部</li>
						<li class="type-1 on" value="ff8080814a7ad6f1014a7adb6b540002">演唱会</li>
					</ul>
					<ul class="i2 clearfix ul-2">
						<li class="type-2 on" value="" data-he="list_ych_qb">全部</li>
						<li class="type-2 ">其他</li>
						<li class="type-2 ">小型现场</li>
						<li class="type-2 ">摇滚</li>
						<li class="type-2 ">民族</li>
						<li class="type-2 ">流行</li>
						<li class="type-2 ">美声</li>
						<li class="type-2 ">音乐节</li>
					</ul>
				</div>
				<div class="t3_item time clearfix">
					<h3>演出时间</h3>
					<ul class="i1 clearfix ul-3" id="yui_3_5_1_1_1491103866993_168">
						<li class="show-time  on" value="" data-he="show_list_date_all">全部</li>
						<li class="show-time " value="1" data-he="show_date_today">今天</li>
						<li class="show-time " value="2" data-he="show_date_mt">明天</li>
						<li class="show-time " value="3" data-he="show_date_bzn">本周内</li>
						<li class="show-time " value="4" data-he="show_date_bzm">本周末</li>
						<li class="show-time " value="5" data-he="show_date_30t">一个月内</li>

					</ul>
					<ul class="rili">
						<li value="define" class="">自定义</li>
						<li class="laydate-icon" id="start"
							style="width: 200px; margin-right: 10px;"></li>
						<li>至</li>
						<li class="laydate-icon" id="end" style="width: 200px;"></li>
					</ul>
					<div class="define clearfix">

						<button type="button" id="by-custom-time" data-he="show_date_zdy">确定</button>
					</div>
				</div>
				<div class="concert_list">
					<dl>
						<dt>
							<img src="static/images/concert_1.jpg">
						</dt>
						<dd>
							<div class="ddleft">
								<p class="mtit">

									<a href="#"> [深圳]2017 COCO李玟18世界巡回演唱会-深圳站（预售） </a>
								</p>
								<p class="ftit">冠军女神舞台魅力再绽放</p>
								<p class="time">2017年5月6日 19:30</p>
								<p class="place">华润深圳湾体育中心"春茧"体育馆</p>

							</div>
							<div class="ddright flr">
								<span class="pre_sale wp-icon-all">预售</span>
								<p class="price">
									<span>380</span>元起
								</p>
								<a class="buy_btn" href="#">立即购买</a>
							</div>
						</dd>
					</dl>

				</div>
				<div id="empty">这里分页没写 不会 你写下吧</div>
			</div>
		</div>

		<div id="right_ct">
			<div id="hotbar">
				<div class="col-md-3 hotbar">
					<ul class="row">
						<li class="col-md-6 col-xs-12"><a href="#">最新资讯</a></li>
						<li class="col-md-6 col-xs-12"><a href="#">精彩专题</a></li>
					</ul>
					<div class="news">
						<ul>
							<li><a href="detail.html?id=3"> <img
									class="img-responsive" src="img/lirouhao.jpg" alt="">
									<div>[上海]星际迷航50周年特展</div>
							</a></li>
							<li><a href="#"> <img src="" alt="">
									<div>[杭州]2016李荣浩「有 理想」世界巡回演唱会</div>
							</a></li>
							<li><a href="#"> <img src="" alt="">
									<div>[北京]陈奕迅 ANOTHER EASON'S LIFE演唱会北京站加场</div>
							</a></li>
						</ul>
						<ul class="unchoseed">
							<li><a href="#"> <img class="img-responsive"
									src="img/yanchanghui.jpg" alt="">
									<div>到乌镇，邂逅文艺</div>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="hotsale">
				<ul class="down row ">
					<li class="hot col-xs-12">热销榜单</li>
					<li class="all cd col-xs-12">
						<div class="row ">
							<div class="pic col-md-3 ">
								<img src="img/flower.jpg ">
							</div>
							<div class="col-md-9 hidden-xs">
								<p>
									<a href="#">[成都]风靡亚洲的SAVOUR美食节</a>
								</p>
								<p>
									<a href="#">2016年10月20日~23日</a>
								</p>
								<p>
									<a href="#">成都远洋太古里</a>
								</p>

								<p class="price">
									<span class="num">200</span> <span>元起</span>
								</p>
								</a>
							</div>
						</div>
					</li>
					<li class="all col-xs-12"><a href="#">[武汉]朴树"好好地II"2017中国巡回演唱会—武汉站{预订}</a></li>
					<li class="all col-xs-12"><a href="#">[太原]天空之城-久石让宫崎骏动漫作品视听音乐会</a></li>
					<li class="all col-xs-12"><a href="#">[北京]陈奕迅 ANOTHER
							EASON'S LIFE演唱会北京站加场</a></li>
					<li class="all col-xs-12"><a href="#">[广州]《奇幻积木艺术》展览－广州站</a></li>
					<li class="all col-xs-12"><a href="#">[沈阳]陈奕迅Another
							Eason's Life演唱会 沈阳站</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>