<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>weipiao</title>
	
	<link href="static/styles/concert.css" rel="stylesheet">
	
	<script type="text/javascript">
		$(function(){
			alert(2);
			loadSearchNav();
			loadLatestAndThematicAndHotSell();
		});
	</script>
</head>

<body>
	<div id="container_ct">
		<div id="left_ct">
			<div class="type_box">
				<div class="tl_item city clearfix">
					<h3>演出城市</h3>
					<ul class="i1 clearfix ul-1 cityullist" id="cityList">
					</ul>
				</div>
				<div class="t2_item type clearfix">
					<h3>项目类别</h3>
					<ul class="i1 clearfix ul-1" id="resourceSecList">
					</ul>
					<ul class="i2 clearfix ul-2" id="resourceThirdList">
					</ul>
				</div>
				<div class="t3_item time clearfix">
					<h3>演出时间</h3>
					<ul class="i1 clearfix ul-3" id="times">
						
					</ul>
				</div>
				<div class="concert_list" id="resultList">

				</div>
				<div >
					<ul id="paginator"></ul>
				</div>
			</div>
		</div>

		<div id="right_ct">
			<div id="hotbar">
				<div class="col-md-3 hotbar" id="resoultLatestAndThematic">
				</div>
			</div>
			<div id="hotsale">
				<ul class="down row " id="resoultHotSell">
				</ul>
			</div>
		</div>
	</div>
</body>

</html>