<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>user_detail</title>

<link href="static/styles/user_detail.css" rel="stylesheet">
<script type="text/javascript">
	$(function() {
		loadUserDetailInfo();
		initEvents();
	});
</script>
</head>
<body>

	<div class="banner_warp my_warp_container">
		<div class="user-top container">
			<div class="row">
				<div class="thumbnail">
					<img id="icon" width="100" height="100" src=""
						class="img-thumbnail img-circle">
					<div class="caption text-center">
						<h3 class="un">
							<span class=""><img src=""></span>
						</h3>
						<p>
							<a href="javascript:void(0);" class="btn btn-default btn-lg"
								role="button">修改个人资料</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div></div>
	<div class="my_center">
		<div class="my_center" id="user_center_box">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<nav class="my_center_sidenav">
							<ul class="nav text-right" id="dtl-nav">
								<li class="active"><a href="javascript:void(0);"
									data-he="user_me_order">我的订单</a></li>
								<li><a href="javascript:void(0);"
									data-he="user_me_attention">我的关注</a></li>
								<li><a href="javascript:void(0);" data-he="user_me_set">个人信息</a></li>
								<li><a href="javascript:void(0);" data-he="user_me_add">收货地址</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-10">
						<div id="r-show0" class="r-show col-md-10" style="display: none;">
							<div class=" row box_top">
								<div class="ucentertab row">
									<ul>
										<li class="on"><a href="javascript:void(0);">全部</a></li>
										<li class=""><a href="javascript:void(0);">待付款</a></li>
										<li class=""><a href="javascript:void(0);">已完成</a></li>
									</ul>
								</div>
							</div>

							<ul id="orders">
								<li>
									
								</li>
							</ul>
						</div>

						<div id="r-show1" class="r-show col-md-10" style="display: none;">
							<div class="infobox">
								<div class="row info_header">
									<div class="col-md-12">
										<h5 class="tit">个人关注</h5>
									</div>
								</div>
							</div>

						</div>

						<div id="r-show2" class="r-show col-md-10" style="display: none;">
							<div class="infobox">
								<div class="row info_header">
									<div class="col-md-12">
										<h5 class="tit">个人信息</h5>
									</div>
								</div>
								<div class="row binfo">
									<div class="col-md-12">
										<dl>
											<dt>登陆密码：</dt>
											<dd>
												<span class="c">**************</span> 
												<a id="password-change-button" class="op" href="javascript:void(0);">「修改」</a>
											</dd>
										</dl>
										<dl>
											<dt>绑定手机：</dt>
											<dd>
												<span class="c"><span> <span class="st">已验证</span>
														<!--<a id="mobile-button" class="op" href="javascript:;">「修改」</a> -->
												</span></span>
											</dd>
										</dl>
									</div>
								</div>
								<form id="profileForm" >
									<div class="row minfo">
										<div class="col-md-12">
											<dl>
												<dt>昵称</dt>
												<dd>
													<input type="text" name="username" id="nickname"
														class="form-control" maxlength="20" palceholder="请输入您的昵称" value="">
												</dd>
											</dl>
											<dl>
												<dt>姓名</dt>
												<dd>
													<input type="text" name="name" id="name"
														class="form-control" palceholder="请输入您的真实姓名" value="">
												</dd>
											</dl>
											<dl>
												<dt>生日</dt>
												<dd>
													<div class="sl year">
														<select name="birth_year" id="birth_year" class="form-control">

														</select> <span>年</span>
													</div>
													<div class="sl month">
														<select name="birth_month" id="birth_month" class="form-control">

														</select> <span>月</span>
													</div>
													<div class="sl day">
														<select name="birth_day" id="birth_day" class="form-control">

														</select> <span>日</span>
													</div>
												</dd>
											</dl>
											<dl>
												<dt>性别</dt>
												<dd>
													<div class="radio">
														<label class="radio-inline"> 
															<input type="radio" name="gender" id="male" value="1" />
															<span>男性</span>
														</label> 
														<label class="radio-inline">
															<input type="radio" name="gender" id="female" value="0" checked />
															<span>女性</span>
														</label>
													</div>
												</dd>
											</dl>
										</div>
									</div>
									<div class="row minfo">
										<div class="col-md-12">
											<dl class="add_adr_btn">
												<dt>&nbsp;</dt>
												<dd>
													<button type="button" class="btn btn-default" id="update_user_base_bind">确认</button>
												</dd>
											</dl>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div id="r-show3" class="r-show col-md-10" style="display: none;">
							<div class="infobox adr_list">
								<div class="row info_header">
									<div class="col-md-12">
										<h5 class="tit">收货地址</h5>
									</div>
								</div>
								<div class="row binfo">
									<div class="table-responsive">
										<table class="table">
											<tbody class="tbd">
												<tr id="address">
													<th class="c1">收货人</th>
													<th class="c2">电话/手机</th>
													<th class="c3">收货地址</th>
													<th class="c4">操作</th>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>
								<div class="infobox add_adr">
									<div class="row info_header">
										<div class="col-md-12">
											<h5 class="tit">新增收货地址</h5>
										</div>
									</div>

									<form id="addressForm" >
										<div class="row minfo">
											<div class="col-md-12">
												<dl>
													<dt>所在区域</dt>
													<dd id="location-container" class="row">
														<div class="row">
															<div class="sl province col-md-4">
																<select id="addr_pro" name="addr_pro"
																	class="form-control">
																	<option value="">省/市直辖市</option>

																</select>
															</div>
															<div class="sl city col-md-4">
																<select id="addr_city" name="addr_city"
																	class="form-control">
																	<option value="">选择城市</option>
																</select>
															</div>
															<div class="sl county col-md-4">
																<select id="addr_area" name="addr_area"
																	class="form-control">
																	<option value="">区县</option>
																</select>
															</div>
														</div>

													</dd>
												</dl>
												<dl>
													<dt>详细地址</dt>
													<dd>
														<input name="addr_more" id="addr_more"
															class="detail_add form-control" placeholder="街道详细地址"
															type="text">
													</dd>
												</dl>
												<dl>
													<dt>收货人</dt>
													<dd>
														<input name="addr_receiveName" id="addr_receiveName"
															class="uname form-control" type="text">
													</dd>
												</dl>
												<dl>
													<dt>手机号码</dt>
													<dd>
														<input name="addr_receivePhone" id="addr_receivePhone"
															class="uphone form-control" type="text">
													</dd>
												</dl>
												<dl class="default_shr">
													<dt>&nbsp;</dt>
													<dd>
														<input name="addr_isDefault" value="1" id="setDefault"
															type="checkbox" /> <label for="setDefault">设为默认收票人</label>
													</dd>
												</dl>
											</div>
											<dl class="add_adr_btn">
												<dt>&nbsp;</dt>
												<dd>
													<button type="button" class="btn btn-default" id="addr_confirm">确认</button>
												</dd>
											</dl>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
</body>
</html>