<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mticket.mapper.ResourceDetailMapper">
	
	<resultMap id="TICKET_DETAIL_MAP" type="com.mticket.entity.TicketDetail">
		<id column="TICKET_ID" property="ticketId" jdbcType="DECIMAL"/>
		<result column="TICKET_NAME" property="ticketName" jdbcType="VARCHAR"/>
		<result column="TICKET_COUNTS" property="ticketCounts"/>
		<result column="TICKET_PRICE" property="ticketPrice"/>
		<result column="TICKET_OLD_PRICE" property="ticketOldPrice"/>
	</resultMap>
	
	<resultMap id="SITE_DETAIL_MAP" type="com.mticket.entity.SiteDetail" >
		
	</resultMap>
	
	<resultMap id="VENUE_DETAIL_MAP" type="com.mticket.entity.ShowVenueDetail" >
	
	</resultMap>
	
	<resultMap id="RESOURCE_DETAIL_MAP" type="com.mticket.entity.ResourceDetail">
		
	</resultMap>
	

</mapper>